[submodule "vendors/kxclib"]
	path = vendors/kxclib
	url = https://github.com/kxcteam/kxclib-ocaml.git
[submodule "vendors/httpaf"]
	path = vendors/httpaf
	url = https://github.com/kxcteam/httpaf.git
	branch = kserve
[submodule "vendors/gensl"]
	path = vendors/gensl
	url = https://github.com/kxcteam/gensl.git
